.honor-content {
  padding: 0 5%;
}
.honor-content .menu2 {
  height: 60px;
  background: #f9c000;
}
.honor-content .menu2 li {
  float: left;
  padding: 0 50px;
  line-height: 60px;
  text-align: center;
  border-right: 1px solid #d0a618;
  cursor: pointer;
}
.honor-content .menu2 li a {
  color: #3f3528;
  text-decoration: none;
}
.honor-content .menu2 li:hover {
  background: #332c2b;
}
.honor-content .menu2 li:hover a {
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .honor-content .menu2 li {
    padding: 0 2%;
  }
}
.honor-content .htitle {
  padding: 80px 0 65px 0;
  font-size: 40px;
  line-height: 60px;
}
@media (max-width: 768px) {
  .honor-content .htitle {
    padding: 30px 0 25px 0;
    background: none !important;
  }
}
.honor-content .htitle span {
  display: block;
  height: 60px;
  width: 162px;
  line-height: 60px;
  border-bottom: 3px solid #f9c000;
}
.honor-content .honor-img li {
  /* background: #079EEE; */
  margin-top: 15px;
  /* div{
					padding: 0 15px;
				} */
}
.honor-content .container-fluid {
  margin: 0 -15px;
}
.honor-content .more_honorimg {
  margin-top: 70px;
}
.honor-content .liucheng {
  margin-top: 110px;
}
.honor-content .container-fluid {
  margin: 0 -15px;
}
.honor-content .fazhanlicheng .clearfix {
  line-height: 100%;
  margin-top: 25px;
}
.honor-content .fazhanlicheng .jieshao {
  display: block;
  line-height: 30px;
  padding: 25px 24px;
  width: 752px;
  border: 1px solid #f9c000;
  border-radius: 50px;
  font-size: 15px;
  float: left;
}
@media (max-width: 1040px) {
  .honor-content .fazhanlicheng .jieshao {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .honor-content .fazhanlicheng .jieshao {
    width: 68%;
  }
}
.honor-content .fazhanlicheng .date {
  display: block;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: #f9c000;
  color: #FFFFFF;
  line-height: 118px;
  text-align: center;
  float: left;
  font-size: 29px;
}
@media (max-width: 1040px) {
  .honor-content .fazhanlicheng .date {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .honor-content .fazhanlicheng .date {
    width: 67px;
    height: 67px;
    line-height: 67px;
    font-size: 15px;
  }
}
.honor-content .fazhanlicheng .floatright {
  float: right;
  display: flex;
}
.honor-content .fazhanlicheng .marginright {
  margin-right: 38px;
}
@media (max-width: 1040px) {
  .honor-content .fazhanlicheng .marginright {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .honor-content .fazhanlicheng .marginright {
    margin-right: 10px;
  }
}
.honor-content .fazhanlicheng .marginleft {
  margin-left: 50px;
}
@media (max-width: 1040px) {
  .honor-content .fazhanlicheng .marginleft {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .honor-content .fazhanlicheng .marginleft {
    margin-left: 10px;
  }
}
.honor-content .flex {
  display: flex;
}
.qiyewenhua {
  position: relative;
}
.qiyewenhua div {
  display: inline-block;
}
.qiyewenhua .imgleft {
  width: 34%;
  float: left;
  position: absolute;
  top: -2px;
  left: 20px;
}
@media (max-width: 800px) {
  .qiyewenhua .imgleft {
    width: 100%;
    top: 0;
    left: 0;
    position: inherit;
  }
  .qiyewenhua .imgleft img {
    margin: 0 auto;
  }
}
.qiyewenhua .imgright {
  width: 34%;
  float: right;
  position: absolute;
  top: -2px;
  right: 20px;
}
@media (max-width: 800px) {
  .qiyewenhua .imgright {
    width: 100%;
    top: 0;
    left: 0;
    position: inherit;
  }
  .qiyewenhua .imgright img {
    margin: 0 auto;
  }
}
.qiyewenhua .center-block {
  display: inline-block;
  margin-left: 20%;
  text-align: center;
  font-size: 34px;
  padding-bottom: 25px;
  font-weight: bold;
}
@media (max-width: 800px) {
  .qiyewenhua .center-block {
    margin: 0 auto;
  }
}
.qiyewenhua .neirong {
  float: right;
  width: 79%;
  padding: 65px 0;
  border: 1px dashed #333333;
}
@media (max-width: 800px) {
  .qiyewenhua .neirong {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .qiyewenhua .neirong {
    width: 100%;
    margin-top: 10px;
  }
}
.qiyewenhua .neirong ul {
  counter-reset: count;
}
.qiyewenhua .neirong li {
  margin-left: 32% ;
  line-height: 62px;
  font-size: 29px;
}
@media (max-width: 1440px) {
  .qiyewenhua .neirong li {
    margin-left: 25%;
  }
}
@media (max-width: 1370px) {
  .qiyewenhua .neirong li {
    margin-left: 24%;
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .qiyewenhua .neirong li {
    margin-left: 5%;
    font-size: 20px;
    line-height: 30px;
  }
}
.qiyewenhua .neirong li:before {
  content: "●";
  color: #f9c000;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .qiyewenhua .neirong li:before {
    margin-right: 10px;
  }
}
.qiyewenhua .neirong2 {
  padding: 30px 0;
  width: 79%;
  padding: 65px 0;
  border: 1px dashed #333333;
}
@media (max-width: 800px) {
  .qiyewenhua .neirong2 {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .qiyewenhua .neirong2 {
    width: 100%;
    margin-top: 10px;
  }
}
.qiyewenhua .neirong2 .biaoti {
  font-size: 30px;
  font-weight: bold;
  color: #f9c000;
  height: 116px;
  line-height: 116px;
  text-indent: 80px;
}
.qiyewenhua .neirong2 .jiazhineirong {
  line-height: 33px;
  font-size: 18px;
  padding-left: 80px;
  width: 80%;
}
.honor-content .pinpaijieshao {
  padding-top: 80px;
}
.honor-content .pinpaijieshao .pull-left {
  width: 70%;
}
@media (max-width: 1200px) {
  .honor-content .pinpaijieshao .pull-left {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .honor-content .pinpaijieshao .pull-left {
    width: 100%;
  }
}
.honor-content .pinpaijieshao .pull-right {
  width: 25%;
}
@media (max-width: 1200px) {
  .honor-content .pinpaijieshao .pull-right {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .honor-content .pinpaijieshao .pull-right {
    display: none;
  }
}
.rongyuzizhi ul {
  height: 552px;
  overflow: hidden;
}
.rongyuzizhi .zizhizhankai {
  height: auto !important;
}
